In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_em = pd.read_csv('./data/title_emergency.csv', names=['link', 'em_label'])
df_typhoon = pd.read_csv('./data/typhoon.csv')

## 标题语气和点击量（阅读量）关系

In [4]:
# The tone of the title
def tone_em_data_clean():
    # rows = []
    # rs = []
    # for i, r in df_em.iterrows():
    #     em_label = r['em_label'].replace('分', '')
    #     em_label = em_label.replace('。', '')
    #     em_label = em_label.replace(' ', '')
    #     rows.append([r['link'], em_label])
    #     rs.append(em_label)
    
    # print('语气紧急程度：', list(set(rs)))
    # temp = pd.DataFrame(rows, columns=['link', 'em_label'])
    temp = df_em.drop_duplicates(subset='link')
    return temp


def show_tone_em_read_num():
    t1 = df_typhoon[['link', 'read_num']]
    t2 = tone_em_data_clean()
    t3 = pd.merge(t1, t2, on='link')
    t4 = t3[['read_num', 'em_label']]
    t4.to_csv('./R_Vis/factor_tone.csv', index=None)
    return t4

df_tone = show_tone_em_read_num()
df_tone

      read_num  em_label
0       100001         3
1        68734         3
2        46764         2
3        13738         2
4       100001         3
...        ...       ...
5066     10191         1
5067    100001         3
5068    100001         3
5069       183         2
5070       268         3

[5071 rows x 2 columns]

In [6]:
def show_tone_mean_median():
    NUM = 100000
    total_10w = df_tone[df_tone.read_num >= NUM]
    print('10w+文章数量：', len(total_10w))
    types = [3, 2, 1]
    for i in types:
        temp = df_tone[df_tone.em_label==i]
        temp_10w = temp[temp.read_num >=NUM]
        print('===============================')
        print('type', i)
        print('文章总数：', len(temp))
        print('10w+文章数量：', len(temp_10w))
        print('10w+文章占比：', len(temp_10w) / len(temp) * 100)
        print('不是10w+文章数量：', len(temp) - len(temp_10w))
        print(temp.describe())
show_tone_mean_median()

10w+文章数量： 291
===============================
type 3
文章总数： 2366
10w+文章数量： 177
10w+文章占比： 7.480980557903635
不是10w+文章数量： 2189
            read_num  em_label
count    2366.000000    2366.0
mean    25728.217667       3.0
std     29692.183064       0.0
min         3.000000       3.0
25%      3393.500000       3.0
50%     14748.000000       3.0
75%     34300.750000       3.0
max    100001.000000       3.0
===============================
type 2
文章总数： 1984
10w+文章数量： 84
10w+文章占比： 4.233870967741935
不是10w+文章数量： 1900
            read_num  em_label
count    1984.000000    1984.0
mean    15057.044355       2.0
std     24616.977725       0.0
min         4.000000       2.0
25%       860.750000       2.0
50%      4470.000000       2.0
75%     16464.500000       2.0
max    100001.000000       2.0
===============================
type 1
文章总数： 721
10w+文章数量： 30
10w+文章占比： 4.160887656033287
不是10w+文章数量： 691
            read_num  em_label
count     721.000000     721.0
mean    13201.565881       1.0
std     23711.061024       0.0
min        10.000000       1.0
25%       662.000000       1.0
50%      3193.000000       1.0
75%     13310.000000       1.0
max    100001.000000       1.0

## 标题长度和点击量（阅读量）关系

In [80]:
# 使用R可视化
df_typhoon[['read_num', 'title_len']].to_csv('./R_Vis/factor_title_len.csv', index=None)

In [86]:
def show_title_len_group():
    NUM = 100000
    temp = df_typhoon[['read_num', 'title_len']].copy()
    bins = [1, 16, 32, 48, 64]  
    labels = ['1-16', '17-32', '33-48', '49-64']
    temp['group'] = pd.cut(temp['title_len'], bins=bins, labels=labels, right=True)

    grouped = temp.groupby('group', observed=False)
    for group_name, group_data in grouped:
        t_10w = group_data[group_data.read_num >=NUM]
        
        print('==================================================')
        print(f"Group: {group_name}")
        print('文章总数：', len(group_data))
        print('10w+文章数量：', len(t_10w))
        print('10w+文章占比：', len(t_10w) / len(group_data) * 100)
        print('不是10w+文章数量：', len(group_data) - len(t_10w))
        
        print(group_data['read_num'].describe())
        
show_title_len_group()

==================================================
Group: 1-16
文章总数： 1238
10w+文章数量： 38
10w+文章占比： 3.0694668820678515
不是10w+文章数量： 1200
count      1238.000000
mean      18475.317447
std       23236.013356
min          20.000000
25%        2194.500000
50%       10166.000000
75%       25203.250000
max      100001.000000
Name: read_num, dtype: float64
==================================================
Group: 17-32
文章总数： 3214
10w+文章数量： 211
10w+文章占比： 6.565028002489111
不是10w+文章数量： 3003
count      3214.000000
mean      21041.518668
std       28823.705745
min           3.000000
25%        1680.750000
50%        8035.000000
75%       26989.000000
max      100001.000000
Name: read_num, dtype: float64
==================================================
Group: 33-48
文章总数： 522
10w+文章数量： 40
10w+文章占比： 7.662835249042145
不是10w+文章数量： 482
count       522.000000
mean      17107.057471
std       29570.696718
min          17.000000
25%         637.250000
50%        3356.000000
75%       14419.000000
max      100001.000000
Name: read_num, dtype: float64
==================================================
Group: 49-64
文章总数： 97
10w+文章数量： 2
10w+文章占比： 2.0618556701030926
不是10w+文章数量： 95
count        97.000000
mean       8605.154639
std       19041.129554
min          16.000000
25%         615.000000
50%        1829.000000
75%        5659.000000
max      100001.000000
Name: read_num, dtype: float64

## 符号和阅读量的关系

In [117]:
# 比较感叹号
def show_E(df, NUM):
    df_yes = df[df.is_exc_point==1]
    df_no = df[df.is_exc_point==0]

    print('感叹号数量：', len(df_yes))
    print(df_yes['read_num'].describe())
    print('=================================')
    print('无感叹号数量：', len(df_no))
    print(df_no['read_num'].describe())
    # read_10w_YES = df_yes[df_yes.read_num >= NUM]
    # read_10w_No = df_no[df_no.read_num >= NUM]
    
    # print('包含感叹号10w+的数量：', len(read_10w_YES))
    # print('包含感叹号10w+的占比：', len(read_10w_YES)/len(df_yes))
    # print('不包含感叹号10w+的数量：', len(read_10w_No))
    # print('不包含感叹号10w+的占比：', len(read_10w_YES)/len(read_10w_No))

def contain_exclamation():
    NUM = 100000
    rows = []
    for i, r in df_typhoon[['link', 'title', 'read_num']].iterrows():
        is_excl = 0
        if '！' in r['title'] or '!' in r['title']:
            is_excl = 1
        rows.append([r['read_num'], is_excl])
    temp = pd.DataFrame(rows, columns=['read_num', 'is_exc_point'])

    show_E(temp, NUM)
    
    temp.to_csv('./R_Vis/factor_exclamation.csv', index=None)
    return temp

contain_exclamation()

感叹号数量： 2988
count      2988.000000
mean      25468.066265
std       29530.428886
min           3.000000
25%        3547.750000
50%       14386.000000
75%       33816.500000
max      100001.000000
Name: read_num, dtype: float64
=================================
无感叹号数量： 2083
count      2083.000000
mean      11601.481517
std       22024.068018
min          10.000000
25%         609.000000
50%        2795.000000
75%       11033.500000
max      100001.000000
Name: read_num, dtype: float64

      read_num  is_exc_point
0       100001             1
1        68734             1
2        46764             0
3        13738             1
4       100001             1
...        ...           ...
5066     10191             0
5067    100001             1
5068    100001             1
5069       183             0
5070       268             0

[5071 rows x 2 columns]

In [119]:
# 问号
def show_Q(df, NUM):
    df_yes = df[df.is_question_mark==1]
    df_no = df[df.is_question_mark==0]

    print('问号数量：', len(df_yes))
    print(df_yes['read_num'].describe())
    print('=================================')
    print('无问号数量：', len(df_no))
    print(df_no['read_num'].describe())
    
def contain_question():
    NUM = 100000
    rows = []
    for i, r in df_typhoon[['link', 'title', 'read_num']].iterrows():
        is_Q = 0
        if '?' in r['title'] or '？' in r['title']:
            is_Q = 1
        rows.append([r['read_num'],is_Q])
    temp = pd.DataFrame(rows, columns=['read_num','is_question_mark'])

    show_Q(temp, NUM)
    temp.to_csv('./R_Vis/factor_question.csv', index=None)
    return temp

contain_question()

问号数量： 409
count       409.000000
mean      19908.591687
std       29503.625971
min          11.000000
25%        1134.000000
50%        7519.000000
75%       21670.000000
max      100001.000000
Name: read_num, dtype: float64
=================================
无问号数量： 4662
count      4662.000000
mean      19760.157443
std       27385.306539
min           3.000000
25%        1628.250000
50%        7530.000000
75%       25413.250000
max      100001.000000
Name: read_num, dtype: float64

      read_num  is_question_mark
0       100001                 0
1        68734                 0
2        46764                 0
3        13738                 0
4       100001                 0
...        ...               ...
5066     10191                 0
5067    100001                 0
5068    100001                 0
5069       183                 0
5070       268                 0

[5071 rows x 2 columns]